{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">
	<div class="row" style="color: white;">

	{{index.title}}
		
	</div>

	{{#each prompt}}

	<div class="prompt-wrapper" id="{{prompt_key}}">

		<div class="location">Viewing responses from: <span>{{prompt.location}}</span></div>

		<div class="row prompt">

			{{prompt}}

		</div>

		<div class="row grid responses">

			{{#each prompt.responses}}

				{{this}}

			{{/each}}

		</div>

	</div>

	{{/each}}

</div> <!-- .container-fluid -->