{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid archive col-sm-12 col-lg-12">

	<div class="prompt-wrapper" id="{{prompt.prompt_key}}">

		<div class="prompt-wrapper" id="{{prompt.promptId}}">

		<div class="row prompt">

			{{prompt.prompt}}

			{{!-- {{prompt.location}} --}}
					
		</div>

		<div class="row grid responses" id="response-group">

		{{#each prompt.responses}}

			<div class="item {{#ifeq type 'Text'}}text{{else}}icon{{/ifeq}} col-sm-3">
				<div class="response">
				{{#ifeq type 'Text'}}
					<p> {{response}} </p>
				{{else}}
					{{{cloudinaryUrl iconUrl width=80 height=80 crop='scale' quality=100}}}
				{{/ifeq}}
				</div>
				<div class="tag">{{creator}}</div>
			</div>

		{{/each}}

		</div>

	</div>

</div> <!-- .container-fluid -->