{{!< default}}
{{!--
/**
* Erica Salling
* Developed 2017
* ==============
*
* Group Home Page
* ==========
*/
--}}


<div class="container-fluid">

	<div class="profile" id="planner-profile-{{planner._id}}">
		<h3>Welcome, {{planner.name.first}}</h3>

		<div class="base">

			<div class="new-plan">
				<h4>Begin a new plan..</h4>
				<input id="new-plan-prompt" placeholder="start with a question">
				<a id="new-plan">new plan</a>
			</div> <!-- .new-plan -->

			<div class="old-plan-group">
				<h4>Or continue an old one!</h4>
				{{#each plans}}
				<div class="old-plan" id="{{this.promptId}}">
				{{!-- {{{jsonPrint this}}} --}}
					<div class="content"><p>{{this.prompt}}</p></div>
				</div>
				{{/each}}
				<a id="load-plan">continue plan</a>
			</div> <!-- .old-plan-group -->

		</div> <!-- .base -->

		<div class="plan" id="plan-wrapper" style="display:none">
		</div> <!-- .new -->

	</div> <!-- .profile -->



</div> <!-- .container-fluid -->