{{!< default}}
{{!--
/**
* Erica Salling
* Developed 2017
* ==============
*
* Plan Creation Page
* ==========
*/
--}}

<div class="prompt-info col-xs-12">
	<h3>{{prompt}}</h3>

</div>

<div class="icon-wrap col-xs-12">
	<p>Scroll through icons and tap to select.</p>

	<div class="icon-input section">
		<div class="icon-feed" style="height:{{scrollHeight icons}}">

			{{#each icons}}

			<div class="icon col-sm-6" id="{{this._id}}">

				<img src="{{{cloudinaryUrl this.icon width=90 height=90 crop='scale' quality=100}}}" alt="{{this.name}}" class="event-photo" style="margin:5px auto;">

			</div>

			{{/each}}

		</div>
	</div>
</div>

<div class="text-input section col-xs-12">
	<p>Type your response below!</p>

	<textarea name="text" rows="4" cols="14" wrap="soft" maxlength="120" id="prompt-input" placeholder="..."></textarea>

</div>

<p class="name-input">Name: <input id="name-input" limit="20" class="col-xs-8"></p>

<a id="response-send">send</a>



