{{!< default}}
{{!--
/**
* Erica Salling
* Developed 2017
* ==============
*
* Plan Creation Page
* ==========
*/
--}}

<div class="item {{#ifeq response.type 'Text'}}text{{else}}icon{{/ifeq}} col-xs-1 col-lg-1" data-created="{{date response.created}}" data-comments="{{response.commentCnt}}" data-likes="{{response.likes}}">

	{{#ifLongerThan response.comments 0}} <div class="comment-bubble bubble">{{add response.commentCnt 1}}</div> {{/ifLongerThan}}

	{{#if response.likes}} <div class="like-bubble bubble">{{response.likes}}</div> {{/if}}

	<div class="response" id="{{response.id}}">
		{{#ifeq response.type 'Text'}}
			<p> {{response.response}} </p>
		{{else}}
			{{{cloudinaryUrl response.iconUrl width=80 height=80 crop='scale' quality=100}}}
		{{/ifeq}}
	</div>
	<div class="tag">{{response.creator}}</div>

	{{#ifeq archive true}}
	<div class="response-comments" style="display:none;">
		<ul>
		{{#each response.comments}}
			<li>{{this}}</li>
		{{/each}}
		</ul>
	</div>
	{{/ifeq}}
</div>
