{{!< default}}
{{!--
/**
* Erica Salling
* Developed 2017
* ==============
*
* Prompt Presentation Page
* ==========
*/
--}}


<div class="container-fluid present">
	<div class="row" style="color: white;">
		
	</div>

	<div class="prompt-wrapper" id="{{prompt.promptId}}">

		<div class="row prompt">

			{{prompt.prompt}}
					
		</div>

		<div class="row grid responses" id="response-group">

		{{#each prompt.responses}}

			<div class="item {{#ifeq type 'Text'}}text{{else}}icon{{/ifeq}} col-sm-3">
				<div class="response">
				{{#ifeq type 'Text'}}
					<p> {{response}} </p>
				{{else}}
					{{{cloudinaryUrl iconUrl width=80 height=80 crop='scale' quality=100}}}
				{{/ifeq}}
				</div>
				<div class="tag">{{creator}}</div>
			</div>

		{{/each}}

		</div>

	</div>


</div> <!-- .container-fluid -->