{{!< default}}
{{!--
/**
* Erica Salling
* Developed 2017
* ==============
*
* Prompt Presentation Page
* ==========
*/
--}}


<div class="container-fluid present">
	<div class="prompt-wrapper" id="{{prompt.promptId}}">

		<div class="row prompt">

			<h1>{{prompt.prompt}}</h1>

			{{#if prompt.promptAlt}}

				{{#each prompt.promptAlt}}

					<h2>{{this}}</h2>

				{{/each}}

			{{/if}}
					
		</div>

		<div class="row grid responses" id="response-group">

			{{!-- <div id="popular-responses"> --}}
{{!-- 
			<h4>Most Popular</h4>

			{{#each prompt.responses}}

				<div class="item {{#ifeq type 'Text'}}text{{else}}icon{{/ifeq}} col-xs-1 col-lg-1">
					<div class="response" id="{{id}}">
					{{#ifeq type 'Text'}}
						<p> {{response}} </p>
					{{else}}
						{{{cloudinaryUrl iconUrl width=80 height=80 crop='scale' quality=100}}}
					{{/ifeq}}
					</div>
					<div class="tag">{{creator}}</div>
				</div>

			{{/each}}
			</div> --}}

			<div id="new-responses">

			<h4>New Responses</h4>

			{{#each prompt.responses}}

				<div class="item {{#ifeq type 'Text'}}text{{else}}icon{{/ifeq}} col-xs-1 col-lg-1" data-created="{{date created}}">
					<div class="response" id="{{id}}">
					{{#ifeq type 'Text'}}
						<p> {{response}} </p>
					{{else}}
						{{{cloudinaryUrl iconUrl width=80 height=80 crop='scale' quality=100}}}
					{{/ifeq}}
					</div>
					<div class="tag">{{creator}}</div>
				</div>

			{{/each}}
			</div>

		</div>

	</div>

	<h3 id="go-to">Go to placebase.net to contribute</h3>


</div> <!-- .container-fluid -->